<app-top-bar></app-top-bar>
<div>
  <div>
    <button type="button" (click)="addToCart(selectedProducts)">
      Adicionar selecionados
    </button>
  </div>
  <div *ngFor="let product of this.productService.filteredProducts">
    <input
      type="checkbox"
      (click)="selectItem(product)"
      ng-checked="isSelected(product)"
    />
    <p>{{ product.description }}</p>
    <p>{{ product.price | currency : "BRL" }} / 1 {{ "un".toUpperCase() }}</p>
    <p>{{ product.longDescription }}</p>
    <button type="button" (click)="addToCart([product])">
      Adicionar ao carrinho
    </button>
  </div>
</div>
