<app-top-bar></app-top-bar>
<section class="w-full m-auto pt-5" *ngIf="products.length > 0">
  <h2 class="w-[1500px] m-auto text-[47px] text-left">Carrinho</h2>
  <ul class="w-[1400px] m-auto flex flex-col">
    <li
      class="w-full h-60 px-5 flex justify-between items-center border-b-1 border-gray"
      *ngFor="let product of products"
    >
      <div class="w-full h-full flex justify-between items-center">
        <div class="w-[550px]">
          <h1 class="text-[34px] mb-2">{{ product.description }}</h1>
          <h2 class="italic text-[17px] mb-1">
            {{ product.price | currency : "BRL" }} / 1 {{ "un".toUpperCase() }}
          </h2>
          <div class="w-full h-8">
            <button class="text-red ml-5" type="button">Excluir</button>
          </div>
          <p class="text-[14px] mb-3">{{ product.longDescription }}</p>
        </div>
        <div class="w-[650px] flex justify-end items-center">
          <div
            class="flex justify-end items-center bg-[#F0F0F0] border rounded-10 text-[17px]"
          >
            <button
              class="w-8 h-9 bg-transparent text-4xl text-red"
              type="button"
              (click)="decrease(product)"
            >
              -
            </button>
            <input
              class="w-20 bg-[#F0F0F0] p-2 text-center"
              type="number"
              min="1"
              [value]="product.count"
            />
            <button
              class="w-8 h-9 bg-transparent text-2xl text-green"
              type="button"
              (click)="increase(product)"
            >
              +
            </button>
          </div>
          <span class="ml-10 text-2xl">{{
            product.price * product.count | currency : "BRL"
          }}</span>
        </div>
      </div>
    </li>
    <li
      class="h-20 text-2xl flex justify-end items-center border-b-1 border-gray"
    >
      Preço total: {{ totalPrice | currency : "BRL" }}
    </li>
  </ul>
  <div class="w-[1400px] h-28 m-auto flex justify-end items-center">
    <button
      class="w-64 p-2 bg-green box-border border border-green rounded-lg shadow-1 text-xl text-center text-white"
      type="button"
    >
      Finalizar compra
    </button>
  </div>
</section>
<section *ngIf="products.length === 0">
  <h2>O carrinho está vazio!</h2>
  <img src="../../assets/empty-cart.png" />
</section>
