<div class="sp-container">
  <img src="../assets/logo.png" />
  <input
    class="w-836 border rounded-lg border-gray-300 h-45 p-2"
    type="text"
    placeholder="buscar produtos"
    #filter
  />
  <div class="w-836 flex justify-evenly">
    <a
      class="w-64 p-2 bg-buttonBlue box-border border rounded-lg shadow-1 text-xl text-center text-white"
      routerLink="cart"
      >Carrinho</a
    >
    <button
      class="w-64 p-2 bg-buttonGreen box-border border rounded-lg shadow-1 text-xl text-center text-white"
      type="button"
      (click)="filterResults(filter.value)"
    >
      Pesquisar
    </button>
  </div>
</div>
