<header
  class="w-full h-24 pl-7 pr-7 flex items-center justify-between box-border bg-blue"
>
  <a routerLink="/"><img src="../../assets/header.png" /></a>
  <div class="h-full flex items-center">
    <input
      class="w-[768px] p-2 border rounded-10 text-2xl outline-none"
      type="search"
      placeholder="Pesquisar por produtos..."
      #filter
    />
    <button
      class="w-8 p-0 m-0 rounded-10 -ml-12"
      (click)="filterResults(filter.value)"
    >
      <img class="w-10 p-0 m-0 rounded-10" src="../../assets/search.png" />
    </button>
  </div>
  <a class="w-[100px] h-[75px] flex align-top justify-start" routerLink="/cart">
    <img src="../../assets/cart-without-products.png" />
    <img
      *ngIf="this.cartService.products.length > 0"
      class="w-[25px] h-[25px] -ml-12 z-20"
      src="../../assets/cart-count.png"
    />
    <span
      *ngIf="this.cartService.products.length > 0"
      class="text-white font-bold z-30 -ml-4"
      >{{ this.cartService.products.length }}</span
    >
  </a>
</header>
